@font-face{ 
	font-family: 'SqueakyChalkSound';
	src: url('../fonts/SqueakyChalkSound.eot');
	src: url('../fonts/SqueakyChalkSound.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/SqueakyChalkSound.ttf') format('truetype'),
	     url('../fonts/SqueakyChalkSound.svg#webfont') format('svg');
}

body {
  font-family: SqueakyChalkSound, Helvetica, sans-serif;
  background-image: url("../images/chalkboard texture 3.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  
}
  
#ul-nav {
  list-style-type: none;
  display: block;
  margin: auto 0;
  padding-left: 0;
}

#ul-nav li {
  display: list-item;
  box-sizing: border-box;
  color: white;
}

#ul-nav a:hover,#ul-nav a:focus,#ul-nav a:active {
color: rgb(88, 169, 196);
}

#ul-nav a {
  display: block;
  text-decoration: none;
  color: black;
}

#main-nav {
  position: fixed;
  color:white; 
  top: 0;
  right: 0;
  left: 0;
  background-image: url("../images/NEWPAPPER.jpg");
  background-size: cover;
  width: 14%;
  height: 100%;
}

#brand {
  text-align: center;
  padding-top: 100px;
  font-size: 120% !important;
}

.nav-item {
  text-align: center !important;
  font-size: 150%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1.5fr 5fr 1fr;
  grid-template-rows: 2fr 5fr 5fr 2fr;
  grid-template-areas: 
    '. Logo .' 
    '. About Right' 
    '. Download Right'
    '. Contact Right';
  grid-column-gap: 10px; 
} 

#logo,
#about, 
#download,
#right,
#contact {
  padding: 10px;
}

#logo {
  grid-area: Logo;
  font-family: 'SqueakyChalkSound';
  text-align: center;
  font-size: 50px;
  color: white;

}

#about {
  grid-area: About;
  background-image: url("../images/NEWPAPPER.jpg");
  height: 90%;
}

#download {
grid-area: Download;
color: white;
}

#download img {
  height: 120px;
  width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

#right {
  grid-area: Right;
}

#contact {
  grid-area: Contact;
  color: white;
  padding: 10px;
  text-align: center;
  height: 150px;
  font-size: 25px;
}

#breadtext {
    text-align: center;
    font-size: 22px;
}
